/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body, html {
	height: 100%;
}
   
body {
	background: url('../img/pokeballBg.png') no-repeat center;
	background-size: cover;
	background-attachment: fixed;
}

.container-fluid {
	height: 100%;
}

#searchPokemon {
	display: table-cell;
	padding-top: 10px;
	height: 100%;
	float: none;
	vertical-align: middle;
}

#redRow {
	display: table;
	height: 50%;
	width: 100%;
}

#whiteRow {
	display: table;
	height: 50%;
	width: 100%;
}

#pokemonInfo {
	display: table-cell;
	text-align: center;
    height: 100%;
	float: none;
	vertical-align: middle;
}

.pokemonSpriteCol {
	display: table-cell;
	height: 100%;
	float: none;
	vertical-align: middle;
}

.pokemonSprite {
	display: block; 
	margin: 0 auto;
	width: 300px;
}

#pokemonList, #pokemonName {
	text-transform: capitalize;
}
