/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body, html {
	height: 100%;
}
   
body {
	background: url('../img/pokeballBg.png') no-repeat center;
	background-size: cover;
	background-attachment: fixed;
	overflow: hidden;
}

.container-fluid {
	height: 100%;
}

.pokeRow {
	display: table;
	height: 50%;
	width: 100%;
}

.colCell {
	display: table-cell;
	height: 100%;
	float: none;
	vertical-align: middle;
}

#searchPokemon {
	padding-top: 10px;
}

#pokemonInfo {
	text-align: center;
}

.pokemonSprite {
	display: block; 
	margin: 0 auto;
	width: 400px;
}

#pokemonList, #pokemonName {
	text-transform: capitalize;
}
