/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body, html {
	height: 100%;
}
   
body {
	background: url('../img/pokeballBg.png') no-repeat center;
	background-size: cover;
	background-attachment: fixed;
}

.container-fluid {
	height: 100%;
}

#searchPokemon {
	padding-top: 10px;
}

#redRow {
	height: 50%;
}

#whiteRow {
	height: 50%;
}

#pokemonInfo {
	text-align: center;
    height: 100%;
}

.pokemonSpriteCol {
	height: 100%;
}

.pokemonSprite {
	display: block; margin: 0 auto;
}

#pokemonList, #pokemonName {
	text-transform: capitalize;
}
